body {
    background: lightgrey;
    margin: 0;
    font-family: 'Neucha', cursive;
}

div {
    box-sizing: border-box;
}

h1 {
    background: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

span {
    color: grey;
    padding-left: 90%;
}

div.post {
    background: white;
    margin-top: 10px;
}

div.post img {
    width: 100%;
}

div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}

div.post h2,
div.post p {
    padding: 10px;
    margin: 0;
}

div.container {
    width: 600px;
    margin: auto;
}